@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');


*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
}

header{
  text-align: center;
}

header a{
  color: white;
  text-decoration: none;
  font-size: 3.8rem;
}

.hero-bg{
  background-color:black;
}

.socials{
  background-color: white;
}

.top h1{
  color: white;
  text-align: center;
  font-size: 5.5rem;
  margin: 3.5em 0em 0.5em 0em;
  font-weight: bold;
}

.top p{
  font-size: 2.6rem;
  color: white;
  text-align: center;
  padding: 0 2em;
  margin-bottom: 6em;
}

.socials h3{
  font-size: 6rem;
  text-align: center;
  padding: 0.8em;
}

.sites a{
  text-align: center;
  display: block;
  text-decoration: none;
  color: gray;
  font-size: 4.5rem;
}

