@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
  font-family: Montserrat, Arial;

}
html{
  background-color: hsl(160, 50%, 35%);
}

header{
  display: flex;
  position: absolute;
  top: 150px;
  left: 100px;
}

header h1{
  font-size: 3rem;
}

#title{
  display: flex;
  text-transform: uppercase;
  float: left;
  font-size: 1rem;
  position: absolute;
  left: 100px;
  top: 30px;
}

.options h3{
  display: flex;
  position: absolute;
  left: 100px;
  top: 400px;
  text-decoration: underline;
}

nav{
  display: flex;
  position: absolute;
  right: 100px;
  top: 30px;
}

nav h3{
  font-size: 1rem;
  margin-left: 30px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

nav h3:hover, #title:hover{
  animation: renk 3s infinite;
  transform: scale(1.05);
}


@keyframes renk{
  0%{
        color: black;
  }
  50%{
        color: white;
  }
  100%{
         color: black;
  }
}