@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');


*{
  font-family: 'Montserrat', sans-serif;
}

html{
  background-color: rgb(30, 30, 30);
}

body{
  margin: 0;

}

header{
  text-align: center;
  background-color: black;
  position: fixed;
  top:0;
  width: 100%;
}

header a{
  color: white;
  text-decoration: none;
  font-size: 3.8rem;
}

.hero-bg{
  background-color: rgb(30, 30, 30);
}

.socials{
  background-color: white;
}

.top h1{
  color: white;
  text-align: center;
  font-size: 5.5rem;
  margin: 4em 1em 1.5em 1em;
  font-weight: bold;
}

h1 .a{
  display: block;
  font-size: 12rem;
}

.top p{
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 2.5em 2em;
  margin-bottom: 3em;
}

.socials h3{
  font-size: 6rem;
  text-align: center;
  padding: 0.5em 0;
}

.socials{
  padding: 2em;
  margin: 3em;
}

.sites a{
  text-align: center;
  display: block;
  text-decoration: none;
  color: gray;
  font-size: 4.5rem;
}