@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --background-color: #fff;
    --text-color: #000;
    --color-gray: #eee;
    --color-dark-gray: #636363;
    --linkedin: #0e76a8;
    --instagram: #bc2a8d;
    --mail: #e95950;
    --stack-overflow: #ef8236;
}

* {
    font-family: 'Montserrat', Arial;
}

html{
    scroll-behavior: smooth;
}

.bg-white{
    transition: background-color 0.3s ease;
    background-color: var(--background-color)  !important;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.baslik{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px 0 15px;
}

.header-text-name{
    font-weight: 700;
}


.navbar{
    box-shadow: 2x 2px 20px #000;
    padding: 0 2rem 0 2rem;
}

.navbar-brand-bugra{
    font-size: 100%;
    font-weight: 700;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.discover-btn {
    background: linear-gradient(to right, rgba(63, 29, 134), rgba(41, 77, 140));
    transition: border 0.3s ease;
    border: solid 1px var(--background-color);
}

.discover-btn:hover {
    background: linear-gradient(to right, rgba(33, 0, 104), rgba(11, 47, 110));
    border: solid 1px var(--text-color);
}

.navbar ul li{
    margin: 1rem;
}
.navbar ul li a{
    transition: color 0.3s ease;
    color: var(--text-color) !important;
}

.seperator{
    max-width: 75%;
    border: 1px solid;
    border-color: var(--text-color);
    transition: border-color 0.3s ease;
}
body{
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

.section-1{
    padding-top: 1rem;  
    background-color: var(--background-color);
    color: var(--text-color);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.section-2{
    background-color: var(--background-color);
    color: var(--text-color);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.jumbotron{
    transition: all 0.3s ease;
    background-color: var(--color-gray);
    color: var(--text-color);
    border-radius: 0px;
}

.menu-button{
    width: 47px;
    height: 34px;
    border: none;
}

.navbar-toggler:focus{
    outline: none !important;
}

.menu-button .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: var(--text-color);
    margin-bottom: 5px;
}

.about-me{
    color: var(--text-color);
}

.padding{
    padding: 3rem 1rem 3rem 1rem;
}

.rights{
    color: var(--text-color);
    transition: all 0.3s ease;
    font-size: .7rem;
}




 [data-theme = "dark"]
 {
    --background-color: #000;
    --text-color: #fff;
    --color-gray: #000;
    --linkedin: #0e76a8;
    --instagram: #bc2a8d;
    --mail: #e95950;
 }




 .socials{
     max-width: 75%;
     margin: auto;
 }


.social-icons{
    margin: 1rem;           
    font-size: 1.7rem !important;
    transition: all 0.3s ease;
}


.social-icons:hover{
    color: #636363 !important;
}



@media (min-width: 576px) {
    .social-icons{
        margin: 1.5rem;           
        font-size: 2.5rem !important;
    }

    .socials-header{
        font-size: 2.2rem  !important;
        }
    .rights{
        font-size: .8rem;
    }
}

@media (min-width: 768px) {
   .header-text{
       font-size: 150%;
    }

    .social-icons{
        margin: 2rem;           
        font-size: 3.5rem !important;
    }
    
   .socials-header{
    font-size: 2.5rem  !important;
    }

    .rights{
        font-size: .9rem;
    }
    
}

@media (min-width: 992px) {
   .header-text{
       font-size: 200%;
   }
   .socials-header{
       font-size: 2.7rem !important;
   }
   .social-icons{
    margin: 3rem;           
    font-size: 4.5rem !important;
}
    .rights{
        font-size: .9rem;
    }
}



.color-switch{
    width: 25px;
    height: 25px;
    background-color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .color-switch:hover{
     transform: scale(0.95);
 }


#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gray;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 6px;
  }
  
  #myBtn:hover {
    transition: all 0.3s ease;
    transform: scale(0.95);
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .up-arrow{
      width: 10px;
      height: 10px;
  }

  footer{
      background-color: var(--color-gray);
      transition: all 0.3s ease;
  }

