@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

option {
  background-color: initial;
  color: #000;
}

.s1 {
  background: url(img/Sprinkle.svg);
  background-size: cover;
  color: white;
}

.s1 #languages {
  color: white;
  border: initial;
  background-color: transparent;
  z-index: 99;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 45px;
}

.s1 #languages:focus {
  outline: none;
}

.s1 img {
  width: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 3em;
  position: relative;
}

@media (max-width: 400px) {
  .s1 img {
    width: 200px;
  }
}

.s1 h1 {
  text-shadow: 3px 3px 10px #000;
  text-transform: uppercase;
  margin-bottom: .2em;
  position: relative;
}

.s1 h3 {
  font-size: 1em;
  margin-bottom: 1em;
  position: relative;
}

.s1 ul {
  z-index: 99;
}

.night {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}

.shooting_star {
  opacity: .7;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star:nth-child(1) {
  top: calc(50% - -90px);
  left: calc(50% - 27px);
  -webkit-animation-delay: 3725ms;
          animation-delay: 3725ms;
}

.shooting_star:nth-child(2) {
  top: calc(50% - -115px);
  left: calc(50% - 214px);
  -webkit-animation-delay: 7908ms;
          animation-delay: 7908ms;
}

.shooting_star:nth-child(3) {
  top: calc(50% - -192px);
  left: calc(50% - 270px);
  -webkit-animation-delay: 2784ms;
          animation-delay: 2784ms;
}

.shooting_star:nth-child(4) {
  top: calc(50% - -79px);
  left: calc(50% - -38px);
  -webkit-animation-delay: 7363ms;
          animation-delay: 7363ms;
}

.shooting_star:nth-child(5) {
  top: calc(50% - 89px);
  left: calc(50% - 127px);
  -webkit-animation-delay: 5038ms;
          animation-delay: 5038ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% - 124px);
  left: calc(50% - 208px);
  -webkit-animation-delay: 2366ms;
          animation-delay: 2366ms;
}

.shooting_star:nth-child(7) {
  top: calc(50% - 113px);
  left: calc(50% - 298px);
  -webkit-animation-delay: 9762ms;
          animation-delay: 9762ms;
}

.shooting_star:nth-child(8) {
  top: calc(50% - 104px);
  left: calc(50% - 294px);
  -webkit-animation-delay: 7731ms;
          animation-delay: 7731ms;
}

.shooting_star:nth-child(9) {
  top: calc(50% - 85px);
  left: calc(50% - 51px);
  -webkit-animation-delay: 3085ms;
          animation-delay: 3085ms;
}

.shooting_star:nth-child(10) {
  top: calc(50% - 190px);
  left: calc(50% - -38px);
  -webkit-animation-delay: 3904ms;
          animation-delay: 3904ms;
}

.shooting_star:nth-child(11) {
  top: calc(50% - 119px);
  left: calc(50% - 338px);
  -webkit-animation-delay: 2120ms;
          animation-delay: 2120ms;
}

.shooting_star:nth-child(12) {
  top: calc(50% - 44px);
  left: calc(50% - 139px);
  -webkit-animation-delay: 3196ms;
          animation-delay: 3196ms;
}

.shooting_star:nth-child(13) {
  top: calc(50% - -192px);
  left: calc(50% - 307px);
  -webkit-animation-delay: 7052ms;
          animation-delay: 7052ms;
}

.shooting_star:nth-child(14) {
  top: calc(50% - -110px);
  left: calc(50% - 295px);
  -webkit-animation-delay: 9808ms;
          animation-delay: 9808ms;
}

.shooting_star:nth-child(15) {
  top: calc(50% - -82px);
  left: calc(50% - 238px);
  -webkit-animation-delay: 4258ms;
          animation-delay: 4258ms;
}

.shooting_star:nth-child(16) {
  top: calc(50% - 86px);
  left: calc(50% - 212px);
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.shooting_star:nth-child(17) {
  top: calc(50% - 182px);
  left: calc(50% - 280px);
  -webkit-animation-delay: 8152ms;
          animation-delay: 8152ms;
}

.shooting_star:nth-child(18) {
  top: calc(50% - -53px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 3630ms;
          animation-delay: 3630ms;
}

.shooting_star:nth-child(19) {
  top: calc(50% - -80px);
  left: calc(50% - 274px);
  -webkit-animation-delay: 4806ms;
          animation-delay: 4806ms;
}

.shooting_star:nth-child(20) {
  top: calc(50% - 159px);
  left: calc(50% - 236px);
  -webkit-animation-delay: 9951ms;
          animation-delay: 9951ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

@keyframes shooting {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials i {
  font-size: 1.3em;
  margin: 0 .5em 0 .5em;
  color: white;
}

.fa-linkedin:hover {
  color: #0e76a8;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.fa-github:hover {
  color: greenyellow;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.fa-instagram:hover {
  color: #8a3ab9;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.fa-telegram:hover {
  color: #0088cc;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.scrolldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5%;
  z-index: 99;
}

.scrolldown :nth-child(1) {
  position: absolute;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50px;
  width: 15px;
  height: 30px;
}

.scrolldown :nth-child(2) {
  position: absolute;
  display: inline-block;
  background-color: white;
  border-radius: 50px;
  width: 5px;
  height: 5px;
  -webkit-animation: sallanma 2s infinite ease;
          animation: sallanma 2s infinite ease;
}

@-webkit-keyframes sallanma {
  0% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 20px;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 10px;
  }
  100% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 0px;
  }
}

@keyframes sallanma {
  0% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 20px;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 10px;
  }
  100% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 0px;
  }
}

.s2 {
  background-image: radial-gradient(circle, #000000, #070707, #0e0e0e, #131313, #171717, #171717, #171717, #171717, #131313, #0e0e0e, #070707, #000000);
  padding: 0 2em 0 2em;
}

.s2 img {
  width: 200px;
  margin-bottom: 2em;
}

@media (max-width: 400px) {
  .s2 img {
    width: 150px;
    height: auto;
  }
}

.s2 p {
  margin: 10px 15% 10px 15% !important;
  color: white;
  line-height: 1.5em;
  margin-bottom: 2em;
  text-align: justify;
}

@media (max-width: 400px) {
  .s2 p {
    font-size: .8em;
    line-height: 1.2em;
    margin-top: 10%;
  }
}

.s2 a {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
  color: white;
  text-decoration: none;
  margin: 1rem 0 3rem 0;
  height: 2.5rem;
  border: 2px solid white;
}

.s2 a i {
  margin-right: .7em;
}

@media (max-width: 400px) {
  .s2 a {
    font-size: .7em;
  }
}

.s2 a:hover {
  color: black;
  border: 2px solid white;
  background-color: white;
}

.s3 {
  background-color: #003232;
  color: White;
}

.s3 h1 {
  position: relative;
  top: 20%;
  text-shadow: 5px 5px 10px black;
}

.s3 h1 span {
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 1.5em;
  height: 3px;
  background-color: lightblue;
}

@media (max-width: 400px) {
  .s3 h1 {
    font-size: 1.5em;
  }
}

.s3 .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s3 .slide label {
  margin-bottom: 1em;
  font-size: 2em;
}

@media (max-width: 400px) {
  .s3 .slide label {
    font-size: 1.5em;
  }
}

.s3 .fp-prev {
  border-color: transparent !important;
  width: 100px;
  z-index: 99 !important;
}

.s3 .fp-next {
  border-color: transparent !important;
  width: 100px;
  z-index: 99 !important;
}

.s3 .left-arrow {
  display: block;
  position: absolute;
  left: 10px;
  height: 70px;
  width: 40px;
  background-color: white;
  -webkit-clip-path: polygon(0 50%, 50% 0, 50% 100%);
          clip-path: polygon(0 50%, 50% 0, 50% 100%);
  -webkit-animation: wavingArrowLeft 4s infinite;
          animation: wavingArrowLeft 4s infinite;
}

@media (max-width: 400px) {
  .s3 .left-arrow {
    left: 15px;
    height: 50px;
    width: 30px;
  }
}

.s3 .right-arrow {
  display: block;
  position: absolute;
  right: 10px;
  height: 70px;
  width: 40px;
  background-color: white;
  -webkit-clip-path: polygon(100% 50%, 50% 0, 50% 100%);
          clip-path: polygon(100% 50%, 50% 0, 50% 100%);
  -webkit-animation: wavingArrowRight 4s infinite;
          animation: wavingArrowRight 4s infinite;
}

@media (max-width: 400px) {
  .s3 .right-arrow {
    right: 15px;
    height: 50px;
    width: 30px;
  }
}

@-webkit-keyframes wavingArrowRight {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes wavingArrowRight {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@-webkit-keyframes wavingArrowLeft {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes wavingArrowLeft {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #320032;
}

.s4 div a {
  font-size: 2em;
  color: #fff;
}

.s4 div a:hover + span {
  width: 100%;
  opacity: 1;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.s4 div span {
  display: block;
  width: 0px;
  opacity: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.footer {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
  text-align: center;
}

.footer p {
  color: white;
  font-size: .7em;
}
/*# sourceMappingURL=style.css.map */