html{
    font-family: 'Raleway', sans-serif;
    margin: 5%;
    background-color: rgb(175, 175, 175);
}

h3, h6{
    color: white;
    margin: auto;
    text-align-last: center;
}

#main{
    background-color: #32373c;
    height: 380pt;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#left{
    background-color: #32373c;
    height: 350pt;
    border-radius: 20px;
    padding: 2%;
 
}

#right{
    background-color: #222529;
    border-radius: 20px;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: black;
    padding: 3%;
}

#header{
    background-color: rgb(24, 23, 23);
}