@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

option {
  background-color: initial;
  color: #000;
}

.s1 {
  background: url(img/Sprinkle.svg);
  background-size: cover;
  color: white;
}

.s1 .underDev {
  position: absolute;
  left: 30px;
  top: 30px;
  -webkit-animation: blink 3s infinite ease-in-out;
          animation: blink 3s infinite ease-in-out;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    color: black;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    color: black;
  }
  100% {
    opacity: 1;
  }
}

.s1 #languages {
  color: white;
  border: initial;
  background-color: transparent;
  z-index: 99;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 45px;
}

.s1 #languages:focus {
  outline: none;
}

.s1 img {
  width: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 3em;
  position: relative;
}

@media (max-width: 400px) {
  .s1 img {
    width: 200px;
  }
}

.s1 h1 {
  text-shadow: 3px 3px 10px #000;
  text-transform: uppercase;
  margin-bottom: .2em;
  position: relative;
}

.s1 h3 {
  font-size: 1em;
  margin-bottom: 1em;
  position: relative;
}

.s1 ul {
  z-index: 99;
}

.night {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}

.shooting_star {
  opacity: .7;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star:nth-child(1) {
  top: calc(50% - -59px);
  left: calc(50% - 265px);
  -webkit-animation-delay: 5487ms;
          animation-delay: 5487ms;
}

.shooting_star:nth-child(2) {
  top: calc(50% - -22px);
  left: calc(50% - 252px);
  -webkit-animation-delay: 9275ms;
          animation-delay: 9275ms;
}

.shooting_star:nth-child(3) {
  top: calc(50% - 157px);
  left: calc(50% - 97px);
  -webkit-animation-delay: 3829ms;
          animation-delay: 3829ms;
}

.shooting_star:nth-child(4) {
  top: calc(50% - -126px);
  left: calc(50% - 137px);
  -webkit-animation-delay: 7247ms;
          animation-delay: 7247ms;
}

.shooting_star:nth-child(5) {
  top: calc(50% - 13px);
  left: calc(50% - 163px);
  -webkit-animation-delay: 9956ms;
          animation-delay: 9956ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% - 192px);
  left: calc(50% - 298px);
  -webkit-animation-delay: 4909ms;
          animation-delay: 4909ms;
}

.shooting_star:nth-child(7) {
  top: calc(50% - -36px);
  left: calc(50% - 283px);
  -webkit-animation-delay: 2760ms;
          animation-delay: 2760ms;
}

.shooting_star:nth-child(8) {
  top: calc(50% - -61px);
  left: calc(50% - 297px);
  -webkit-animation-delay: 5441ms;
          animation-delay: 5441ms;
}

.shooting_star:nth-child(9) {
  top: calc(50% - -109px);
  left: calc(50% - 308px);
  -webkit-animation-delay: 6613ms;
          animation-delay: 6613ms;
}

.shooting_star:nth-child(10) {
  top: calc(50% - -77px);
  left: calc(50% - 65px);
  -webkit-animation-delay: 4645ms;
          animation-delay: 4645ms;
}

.shooting_star:nth-child(11) {
  top: calc(50% - 154px);
  left: calc(50% - -24px);
  -webkit-animation-delay: 8160ms;
          animation-delay: 8160ms;
}

.shooting_star:nth-child(12) {
  top: calc(50% - -199px);
  left: calc(50% - 158px);
  -webkit-animation-delay: 3531ms;
          animation-delay: 3531ms;
}

.shooting_star:nth-child(13) {
  top: calc(50% - 164px);
  left: calc(50% - 197px);
  -webkit-animation-delay: 4881ms;
          animation-delay: 4881ms;
}

.shooting_star:nth-child(14) {
  top: calc(50% - -186px);
  left: calc(50% - 350px);
  -webkit-animation-delay: 3258ms;
          animation-delay: 3258ms;
}

.shooting_star:nth-child(15) {
  top: calc(50% - -76px);
  left: calc(50% - 121px);
  -webkit-animation-delay: 5691ms;
          animation-delay: 5691ms;
}

.shooting_star:nth-child(16) {
  top: calc(50% - -23px);
  left: calc(50% - -10px);
  -webkit-animation-delay: 158ms;
          animation-delay: 158ms;
}

.shooting_star:nth-child(17) {
  top: calc(50% - -49px);
  left: calc(50% - -26px);
  -webkit-animation-delay: 9716ms;
          animation-delay: 9716ms;
}

.shooting_star:nth-child(18) {
  top: calc(50% - -86px);
  left: calc(50% - 148px);
  -webkit-animation-delay: 4801ms;
          animation-delay: 4801ms;
}

.shooting_star:nth-child(19) {
  top: calc(50% - 113px);
  left: calc(50% - 9px);
  -webkit-animation-delay: 7593ms;
          animation-delay: 7593ms;
}

.shooting_star:nth-child(20) {
  top: calc(50% - -16px);
  left: calc(50% - 174px);
  -webkit-animation-delay: 7607ms;
          animation-delay: 7607ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

@keyframes shooting {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials i {
  font-size: 1.3em;
  margin: 0 .5em 0 .5em;
  color: white;
}

.fa-linkedin:hover {
  color: #0e76a8;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.fa-github:hover {
  color: greenyellow;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.fa-instagram:hover {
  color: #8a3ab9;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.fa-telegram:hover {
  color: #0088cc;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.scrolldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5%;
  z-index: 99;
}

.scrolldown :nth-child(1) {
  position: absolute;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50px;
  width: 15px;
  height: 30px;
}

.scrolldown :nth-child(2) {
  position: absolute;
  display: inline-block;
  background-color: white;
  border-radius: 50px;
  width: 5px;
  height: 5px;
  -webkit-animation: sallanma 2s infinite ease;
          animation: sallanma 2s infinite ease;
}

@-webkit-keyframes sallanma {
  0% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 20px;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 10px;
  }
  100% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 0px;
  }
}

@keyframes sallanma {
  0% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 20px;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 10px;
  }
  100% {
    opacity: .2;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    margin-top: 0px;
  }
}

.s2 {
  background-image: radial-gradient(circle, #000000, #070707, #0e0e0e, #131313, #171717, #171717, #171717, #171717, #131313, #0e0e0e, #070707, #000000);
  padding: 20px 2em 0 2em;
}

.s2 img {
  margin-top: 20px;
  width: 200px;
  margin-bottom: 1.5em;
}

@media (max-width: 400px) {
  .s2 img {
    width: 120px;
    height: auto;
  }
}

.s2 p {
  margin: 10px 15% 10px 15% !important;
  color: white;
  line-height: 1.2em;
  margin-bottom: 1em;
  text-align: justify;
}

@media (max-width: 400px) {
  .s2 p {
    font-size: .7em;
    line-height: 1em;
    margin-bottom: 1em;
  }
}

.s2 a {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-decoration: none;
  margin: 1rem 0 3rem 0;
  height: 2.5rem;
  border: 2px solid white;
  padding: 10px 30px;
}

.s2 a i {
  margin-right: .7em;
}

@media (max-width: 400px) {
  .s2 a {
    font-size: .6em;
  }
}

.s2 a:hover {
  color: black;
  border: 2px solid white;
  background-color: white;
}

.s3 {
  background-color: #142850;
  color: White;
}

.s3 h1 {
  position: relative;
  top: 20%;
  text-shadow: 5px 5px 10px black;
}

.s3 h1 span {
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 1.5em;
  height: 3px;
  background-color: lightblue;
}

@media (max-width: 400px) {
  .s3 h1 {
    font-size: 1.5em;
  }
}

.s3 .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s3 .slide label {
  margin-bottom: 1em;
  font-size: 2em;
}

@media (max-width: 400px) {
  .s3 .slide label {
    font-size: 1.5em;
  }
}

.s3 .fp-prev {
  border-color: transparent !important;
  width: 100px;
  z-index: 99 !important;
}

.s3 .fp-next {
  border-color: transparent !important;
  width: 100px;
  z-index: 99 !important;
}

.s3 .left-arrow {
  display: block;
  position: absolute;
  left: 10px;
  height: 70px;
  width: 40px;
  background-color: white;
  -webkit-clip-path: polygon(0 50%, 50% 0, 50% 100%);
          clip-path: polygon(0 50%, 50% 0, 50% 100%);
  -webkit-animation: wavingArrowLeft 4s infinite;
          animation: wavingArrowLeft 4s infinite;
}

@media (max-width: 400px) {
  .s3 .left-arrow {
    left: 15px;
    height: 50px;
    width: 30px;
  }
}

.s3 .right-arrow {
  display: block;
  position: absolute;
  right: 10px;
  height: 70px;
  width: 40px;
  background-color: white;
  -webkit-clip-path: polygon(100% 50%, 50% 0, 50% 100%);
          clip-path: polygon(100% 50%, 50% 0, 50% 100%);
  -webkit-animation: wavingArrowRight 4s infinite;
          animation: wavingArrowRight 4s infinite;
}

@media (max-width: 400px) {
  .s3 .right-arrow {
    right: 15px;
    height: 50px;
    width: 30px;
  }
}

@-webkit-keyframes wavingArrowRight {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes wavingArrowRight {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@-webkit-keyframes wavingArrowLeft {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes wavingArrowLeft {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #320032;
}

.s4 .container a {
  font-size: 2em;
  color: #fff;
}

.s4 .container a:hover + span {
  width: 100%;
  opacity: 1;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.s4 .container span {
  display: block;
  width: 0px;
  opacity: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.footer {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
  text-align: center;
}

.footer p {
  color: white;
  font-size: .7em;
}
/*# sourceMappingURL=style.css.map */